#page-hero {
  width: 100vw;
  height: 100vh;
}

#page-hero main {
  width: 100%;
  border-radius: 0.8rem;
  justify-self: center;
  align-self: center;
  padding-top: 6.4rem;
  overflow: hidden;
}

.hero-content-container .hero-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 85vw;
  height: 70%;
  background: var(--color-background);
  border-radius: 0.8rem;
  border: 5px solid #000;
  padding: 0.4rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-avatar-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.hero-avatar-container img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #000;
  width: 100%;
  height: 35rem;
}

.hero-avatar-container .buttons-container-hero {
  display: flex;
  margin: 0.3rem 0;
  justify-content: space-between;
}

.hero-avatar-container .buttons-container-hero button {
  width: 100%;
  height: 7rem;
  border-radius: 0.8rem;
  border: 5px solid #000;
  padding: 0 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 2.6rem Roboto;
  color: var(--color-box-base);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

  transition: background-color 0.2s;
}

.hero-avatar-container .buttons-container-hero button a {
  text-decoration: none;
  font: 700 2.6rem Roboto;
  color: var(--color-box-base);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
}

.hero-avatar-container .buttons-container-hero button + button {
  margin-left: 0.3rem;
}

.hero-avatar-container .buttons-container-hero button.edit {
  background-color: #2339fc;
}

.hero-avatar-container .buttons-container-hero button.edit:hover {
  background-color: #0b1fd4;
}

.hero-avatar-container .buttons-container-hero button.delete {
  background-color: #fc2323;
}

.hero-avatar-container .buttons-container-hero button.delete:hover {
  background-color: #b60707;
}

.hero-container .text-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  height: auto;
  margin-left: 1.2rem;
}

.hero-container .text-content strong {
  font-weight: 500;
  font-size: 3.6rem;
  display: block;
}

.hero-container .text-content span {
  padding-top: 0.7rem;
  font: 400 2.2rem Roboto;
}

.button-container a.back-button {
  background: var(--color-secondary);
}

.button-container a.back-button:hover {
  background: var(--color-secondary-dark);
}

.hero-container .text-content p {
  font-weight: 400;
}

.hero-container .text-content p strong {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  font-weight: 900;
}

@media(max-width: 810px) {
  .hero-content-container .hero-container  {
    display: block;
    height: 100%;
  }

  .hero-avatar-container img {
    height: 30%;
  }

  .hero-container .text-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }

  .hero-container .text-content p {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
